body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:1;
	padding:3px;
	border-width:1;
}
p{
	color:#000000;
	font-family: "jaf-facitweb",sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.6;
	margin-bottom:0;
	margin-left:6;
	margin-right:6;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
	padding:3px;
}
a {
text-decoration:none;
}
a:hover {
text-decoration:underline;
}
.height1 {
	line-height:1;
}

.Contents {
	color:#3dc7f4;
	font-size:18px;
	font-weight:bold;
}

.Piece-Subtitle {
	color:#3dc7f4;
	font-size:18px;
	font-style:italic;
	font-weight:bold;
}
.Piece-Title {
	color:#3dc7f4;
	font-size:19px;
	font-weight:bold;
	text-decoration:underline;
}
.Title-Desc {
	color:#3dc7f4;
	font-size:17px;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}
.PageTitle {
	font-size:36px;
	font-weight:bold;
}
.Author {
	font-size:22px;
	font-weight:bold;
}
.arrow {
	font-family: "malaga-narrow",sans-serif;
	font-size:28px;
	font-weight:bold;
	color:#3dc7f4;
}
video {
	padding:0% 0% 0% 0%;
	position:relative;
	left:0%;
	overflow:hidden;
	top:0%;
	text-align:center;
	}
.vid1-02 {
	width:72.40%;
		text-align:center;
}
.vid1-03, .vid2-04 {
	width:100%;
		text-align:center;
}
.vid5-01 {
	width:70%;
	text-align:center;
}
#img1-01 {
	width:74.91%;
}
#img1-04 {
	width:39.75%;
}
#img2-01,#img2-03 {
	width:100.00%;
}
#img2-02 {
	width:86.56%;
}
#img3-01 {
	width:81.44%;
}
#img4-01 {
	width:45.96%;
}
#img6-01 {
	width:79.85%;
}
#img7-01 {
	width:58.47%;
}
.blue {
	background-color:#3dc7f4;
	border:6px solid #3dc7f4;
	margin:auto;
	max-width:770px;

}
.page {
	
	border:6px solid #3dc7f4;
	margin:auto;
	max-width:770px;
}